[submodule "scripts"]
	path = scripts
	url = https://github.com/Open-Systems-Pharmacology/build-scripts.git
[submodule "lib/DCI"]
	path = lib/DCI
	url = https://github.com/Open-Systems-Pharmacology/DCI.git
[submodule "lib/Dimensions"]
	path = lib/Dimensions
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.Dimensions.git
[submodule "src/matlab_toolbox_core"]
	path = src/matlab_toolbox_core
	url = https://github.com/Open-Systems-Pharmacology/Matlab-Toolbox-Core.git
[submodule "lib/Schema"]
	path = lib/Schema
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.SimModel.Schema.git
